<h1>Edit <%= @character.name %></h1>
    <p><%= @error %></p>
    <form action='/characters/<%=@character.id%>' method='post'>
        <input id="hidden" type="hidden" name="_method" value="patch">
        <label>Name</label>
        <input type="text" name="character[name]" value="<%= @character.name %>" required>
        <label>Gender</label>
        <select name="character[gender]" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label>Age</label>
        <input type="integer" name="character[age]" value="<%= @character.age %>" required>
        <label>Race</label>    
        <select name="character[race]" id="race" required>
            <option value="Android">Android</option>
            <option value="Human">Human</option>
            <option value="Kasatha">Kasatha</option>
            <option value="Lashunta">Lashunta</option>
            <option value="Shirren">Shirren</option>
            <option value="Vesk">Vesk</option>
            <option value="Ysoki">Ysoki</option>
        </select>
        <label>Theme</label>
        <select name="character[theme]" id="theme" required>
            <option value="Themeless">Themeless</option>
            <option value="Ace Pilot">Ace Pilot</option>
            <option value="Bounty Hunter">Bounty Hunter</option>
            <option value="Icon">Icon</option>
            <option value="Mercenary">Mercenary</option>
            <option value="Outlaw">Outlaw</option>
            <option value="Priest">Priest</option>
            <option value="Scholar">Scholar</option>
            <option value="Spacefarer">Spacefarer</option>
            <option value="Xenoseeker">Xenoseeker</option>
        </select>
        <label>Class</label>
        <select name="character[clas]" id="clas" required>
            <option value="Envoy">Envoy</option>
            <option value="Mechanic">Mechanic</option>
            <option value="Mystic">Mystic</option>
            <option value="Operative">Operative</option>
            <option value="Solarian">Solarian</option>
            <option value="Soldier">Soldier</option>
            <option value="Technomancer">Technomancer</option>
        </select>
        <button type ="submit">Edit Character</button>
    </form>