<h1>Create a Character</h1>
<table style="width:20%">
    <form action='/characters' method='post'>
        <tr> 
            <td><p><strong>Name:</strong></p></td>
            <td><input type="text" name="character[name]" value="Enter a Name" required></td>
        </tr>
        <tr>         
            <td><p><strong>Gender:</strong></p></td>
            <td><select name="character[gender]" id="gender" required>
                    <% genders = ["Male", "Female", "Other"] %>
                        <% genders.each do |g| %>
                            <option value=<%=g %>>
                                <%= g %>
                            </option>
                            <% end %>
                </select></td>
        </tr>
        <tr>        
            <td><p><strong>Age:</strong></p></td>
            <td><input type="integer" name="character[age]" value="Enter an Age" required></td>
        </tr>
        <tr>  
            <td><p><strong>Race:</strong></p></td>
            <td><select name="character[race]" id="race" required>
                <% Race.all.each do |r| %>
                    <option value=<%=r .name %>>
                        <%= r.name %>
                    </option>
                    <% end %>
            </select></td>
        </tr>
        <tr>   
            <td><p><strong>Theme:</strong></p></td>
            <td><select name="character[theme]" id="theme" required>
                <% Theme.all.each do |t| %>
                    <option value=<%=t .name %>>
                        <%= t.name %>
                    </option>
                    <% end %>
            </select></td>
        </tr>
        <tr>  
            <td><p><strong>Class:</strong></p></td>
            <td><select name="character[clas]" id="clas" required>
                <% Chclass.all.each do |c| %>
                    <option value=<%=c .name %>>
                        <%= c.name %>
                    </option>
                    <% end %>
            </select></td>
        </tr>
        <tr>  
            <td></td>
            <td><button type="submit">Create Character</button></td>
        </tr>
    </form>
</table>