<h1><%= @character.name %></h1>
    <p>Name: <%= @character.name %></p>
    <p>Age: <%= @character.age %></p>
    <p>Gender: <%= @character.gender %></p>
    <p>Race: <%= @character.race %></p>
    <p>Theme: <%= @character.theme %></p>
    <p>Class: <%= @character.clas %></p>