<h1><%= @character.name %></h1>
    <p>Name: <%= @character.name %></p>
    <p>Age: <%= @character.age %></p>
    <p>Gender: <%= @character.gender %></p>
    <p>Race: <%= @character.race %></p>
    <p>Theme: <%= @character.theme %></p>
    <p>Class: <%= @character.clas %></p>
    
    <a href = "/characters/<%= @character.id %>/edit">
        <input type ="button" value="Edit">
    </a>
    <form action= "/characters/<%= @character.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form>