<header>
    <h1><%= @character.name %></h1>
</header>

<body>
    <p> 
        <strong>Name:</strong> <%= @character.name %><br>
        <strong>Gender:</strong> <%= @character.gender %><br>
        <strong>Age:</strong> <%= @character.age %><br>
        <strong>Race:</strong> <%= @character.race %><br>
        <strong>Theme:</strong> <%= @character.theme %><br>
        <strong>Class:</strong> <%= @character.clas %>
    </p>
    
    <% if @character.user && @character.user == current_user %> 
        
            <a href = "/characters/<%= @character.id %>/edit">
                <input type ="button" value="Edit">
            </a>
            <form action= "/characters/<%= @character.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
        
    <% end %>
</body>